<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <!--<service name="OptimizePOC.Orders">
        <endpoint address=""   binding="webHttpBinding" bindingConfiguration="webhttpBinding" contract="System.Data.Services.IRequestHandler">
        </endpoint>
      </service>-->

      <!--<service name="OptimizePOC.OptimizeService">
        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webhttpBinding" contract="System.Data.Services.IRequestHandler" />
      </service>-->

      <service name="optimizeServiceAdapterProxy">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/optimizeService"/>
          </baseAddresses>
        </host>
        <endpoint address="/views" binding="webHttpBinding" bindingConfiguration="webhttpBinding" contract="System.Data.Services.IRequestHandler"/>
      </service>

    </services>

    

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <webHttpBinding>
        <binding name="webhttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <log4net>
    <appender name="rollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd'_OptimizePOC.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MMM-dd hh:mm:ss tt} [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="Error" />
      <appender-ref ref="rollingLogFileAppender" />
    </root>
  </log4net>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" culture="neutral" publicKeyToken="aa95f207798dfdb4" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <spring>
    <!--<context type="Spring.Context.Support.XmlApplicationContext, Spring.Core"/>-->

    <objects xmlns="http://www.springframework.net" xmlns:db="http://www.springframework.net/database">

    <db:provider id="dbProvider" provider="SqlServer-2.0" connectionString="data source=NTORO;initial catalog=OptimizeDB;integrated security=True" />

    <object name="sessionFactory" type="Spring.Data.NHibernate.LocalSessionFactoryObject, Spring.Data.NHibernate40">
      <property name="DbProvider" ref="dbProvider" />
      <property name="MappingAssemblies">
        <list>
          <value>OptimizePOC</value>
        </list>
      </property>
      <property name="HibernateProperties">
        <dictionary>
          <entry key="connection.provider" value="NHibernate.Connection.DriverConnectionProvider" />
          <entry key="dialect" value="NHibernate.Dialect.MsSql2008Dialect" />
          <entry key="connection.driver_class" value="NHibernate.Driver.SqlClientDriver" />
          <entry key="show_sql" value="false" />
        </dictionary>
      </property>
      <property name="ExposeTransactionAwareSessionFactory" value="true" />
    </object>

    <object name="oderDao" type="OptimizePOC.OrderDao, OptimizePOC">
      <property name="SessionFactory" ref="sessionFactory"/>
    </object>

    <object name="shipmentDao" type="OptimizePOC.ShipmentDao, OptimizePOC">
      <property name="SessionFactory" ref="sessionFactory"/>
    </object>

      <object id="optimizeHost" type="Spring.ServiceModel.Activation.ServiceHostFactoryObject, Spring.Services">
        <property name="TargetName" value="optimizeServiceAdapterProxy"/>
      </object>

    </objects>
  </spring>

</configuration>