<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="OptimizeDataSource" connectionString="data source=NTORO;initial catalog=OptimizeDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"  />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <!--<service name="OptimizePOC.Orders">
        <endpoint address=""   binding="webHttpBinding" bindingConfiguration="webhttpBinding" contract="System.Data.Services.IRequestHandler">
        </endpoint>
      </service>-->
      <service name="OptimizePOC.OptimizeService"   >
        <endpoint address=""   binding="webHttpBinding" bindingConfiguration="webhttpBinding" contract="System.Data.Services.IRequestHandler">
        </endpoint>
      </service>
    </services>

    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />

    <bindings>
      <webHttpBinding>
        <binding name="webhttpBinding"   maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" receiveTimeout="01:00:00" sendTimeout="01:00:00">
          <readerQuotas maxDepth="2147483647"   maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly"   >
            <transport clientCredentialType="None"   />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
